<div class="container">
    <!-- <div ng-controller="mainCtrl"> -->
    <div class="todo-panel transition">
        <form name="NumerologyForm" ng-submit="calculateNumbers()">
            <div class="title-container">
                <h1 class="text-muted text-center">Numerology</h1>
            </div>
            <hr />
            <div class="numbers-container">
                <input type="text" class="form-control input-lg" placeholder="Enter First Name" ng-model="firstName" name="firstName" maxlength="100" ng-maxlength="100" ng-minlength="2" required autofocus />
                <ng-messages for="NumerologyForm.firstName.$error">
                    <ng-message when="required" class="error-msg">First name is required</ng-message>
                    <ng-message when="minlength" class="error-msg">Min of 2 chars</ng-message>
                    <ng-message when="maxlength" class="error-msg">Max of 100 chars</ng-message>
                </ng-messages>
                <br />
                <br />
                <!--         <table class="table table-striped">
          <tbody>
            <tr ng-repeat="t in todoCtrl.todos | orderBy: '-createdAt'">
              <td class="text-muted todo-in-todos">
                <span ng-bind="t.todoMessage"></span>
                <div class="todo-done transition"
                     ng-click="todoCtrl.deleteTodo(t._id)">x</div>
              </td>

            </tr>
          </tbody>
        </table>

        <div ng-if="!todoCtrl.todos.length">
          <h3 class="text-muted text-center">Nothing to do. Go play outside :D</h3>
        </div>
 -->
            </div>
            <div class="numbers-container">
                <input type="text" class="form-control input-lg" placeholder="Enter Last Name" ng-model="lastName" name="lastName" maxlength="100" ng-maxlength="100" ng-minlength="4" required autofocus />
                <ng-messages for="NumerologyForm.lastName.$error">
                    <ng-message when="required" class="error-msg">Last name is required</ng-message>
                    <ng-message when="minlength" class="error-msg">Min of 4 chars</ng-message>
                    <ng-message when="maxlength" class="error-msg">Max of 100 chars</ng-message>
                </ng-messages>
                <br />
                <br />
            </div>
            <div class="numbers-container">
                <p> <span>Corrected first names :</span>{{firstNames}}</p>
                <p> <span>Corrected last name :</span>{{surname}}</p>
            </div>
            <hr />
            <div class="footer-container">
                <button type="submit" id="submit-name-button" class="btn btn-success btn-block btn-lg submit-todo" ng-disabled="NumerologyForm.$invalid || !isValid()"> Submit </button>
            </div>
        </form>
    </div>
</div>
<!-- </div> -->
